* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

.link {
  text-decoration: none;
}

.home {
  margin-top: 15vh;
}

.name {
  text-transform: capitalize;
}

textarea {
  width: 50vw;
  height: auto;
}

p {
  text-align: left;
}

.buttonBorder {
  border: none;
  background-color: transparent;
}

ul button {
  border: none;
  background-color: transparent;
}

.structure {
  display: grid;
  gap: 5vh 5vh;
  grid-template-columns: auto auto auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .structure {
    display: grid;
    gap: 5vh 5vh;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .structure {
    display: grid;
    gap: 3vh;
    grid-template-columns: auto;
  }
}
